<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlastMB.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Denka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlastMB.WinForm.Properties.Settings>
            <setting name="FileConfig" serializeAs="String">
                <value>C:\Public\PlastMB\appsetting.json</value>
            </setting>
            <setting name="Elongation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Variety" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NL" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="Measure" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="FillType" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="LineMax" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LengthFill" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>^(10M|10Y|20M|25M|35M)$</value>
            </setting>
            <setting name="Tr101Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101Case2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101Case3" serializeAs="String">
                <value>^(B|L|BR|GR|G|R|W|Y)$</value>
            </setting>
            <setting name="Tr101Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101MikasaCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101MikasaCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101MikasaCase3" serializeAs="String">
                <value>^(R|W|Y|SB|G)$</value>
            </setting>
            <setting name="Tr101MikasaCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101SekisuiCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101SekisuiCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101SekisuiCase3" serializeAs="String">
                <value>^(B|R|L|Y|G|W|GR|T|BG|SB|O|P|PU|BR|C|I)$</value>
            </setting>
            <setting name="Tr101SekisuiCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101YazakiCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101YazakiCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101YazakiCase3" serializeAs="String">
                <value>^(B|R|L|Y|G|W|GR|T|C)$</value>
            </setting>
            <setting name="Tr101YazakiCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr102Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr102Case2" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR)$</value>
            </setting>
            <setting name="Tr102Case3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr102Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr103Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr103Case2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr103Case3" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR)$</value>
            </setting>
            <setting name="Tr103Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr106UCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr106UCase2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr106UCase3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr106UCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr134Case1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr134Case2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr134Case3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr134Case4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr230WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr230WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr230WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr230WCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr232WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr232WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr232WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr232WCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr234WCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr234WCase2" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR|P|BG|PU|SB|BE|O)$</value>
            </setting>
            <setting name="Tr234WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr234WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr246WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr246WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr246WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr246WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr248WSCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr248WSCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr248WSCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr248WSCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr258WSCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr258WSCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr258WSCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr258WSCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr260WCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr260WCase2" serializeAs="String">
                <value>^(O|A)$</value>
            </setting>
            <setting name="Tr260WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr260WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr261LCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr261LCase2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr261LCase3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr261LCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLoading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rounding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NoEmptySkip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderNameBkCSV" serializeAs="String">
                <value>BK_CSV</value>
            </setting>
        </PlastMB.WinForm.Properties.Settings>
        <Denka.Properties.Settings>
            <setting name="FileConfig" serializeAs="String">
                <value>C:\Public\Denka\appsetting.json</value>
            </setting>
            <setting name="Elongation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Variety" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NL" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Measure" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="FillType" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="LineMax" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LengthFill" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>^(10M|10Y|20M|25M|35M)$</value>
            </setting>
            <setting name="Tr101Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101Case2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101Case3" serializeAs="String">
                <value>^(B|L|BR|GR|G|R|W|Y)$</value>
            </setting>
            <setting name="Tr101Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101MikasaCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101MikasaCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101MikasaCase3" serializeAs="String">
                <value>^(R|W|Y|SB|G)$</value>
            </setting>
            <setting name="Tr101MikasaCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101SekisuiCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101SekisuiCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101SekisuiCase3" serializeAs="String">
                <value>^(B|R|L|Y|G|W|GR|T|BG|SB|O|P|PU|BR|C|I)$</value>
            </setting>
            <setting name="Tr101SekisuiCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101YazakiCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr101YazakiCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr101YazakiCase3" serializeAs="String">
                <value>^(B|R|L|Y|G|W|GR|T|C)$</value>
            </setting>
            <setting name="Tr101YazakiCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr102Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr102Case2" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR)$</value>
            </setting>
            <setting name="Tr102Case3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr102Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr103Case1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr103Case2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr103Case3" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR)$</value>
            </setting>
            <setting name="Tr103Case4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr106UCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr106UCase2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr106UCase3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr106UCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr134Case1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr134Case2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr134Case3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr134Case4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr230WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr230WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr230WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr230WCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr232WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr232WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr232WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr232WCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr234WCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr234WCase2" serializeAs="String">
                <value>^(B|R|G|L|Y|W|GR|BR|P|BG|PU|SB|BE|O)$</value>
            </setting>
            <setting name="Tr234WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr234WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr246WCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr246WCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr246WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr246WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr248WSCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr248WSCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr248WSCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr248WSCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr258WSCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr258WSCase2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr258WSCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr258WSCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr260WCase1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr260WCase2" serializeAs="String">
                <value>^(O|A)$</value>
            </setting>
            <setting name="Tr260WCase3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tr260WCase4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tr261LCase1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tr261LCase2" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr261LCase3" serializeAs="String">
                <value>^(A|BE|B|L|BG|BR|C|GR|G|I|O|P|PU|R|SB|T|W|Y)$</value>
            </setting>
            <setting name="Tr261LCase4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLoading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rounding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NoEmptySkip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderNameBkCSV" serializeAs="String">
                <value>BK_CSV</value>
            </setting>
        </Denka.Properties.Settings>
    </applicationSettings>
</configuration>