<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ERP_PostgreSQL"
			 connectionString="Host=localhost;Database=erp_system;Username=postgres;Password=12345678;Port=5432;CommandTimeout=300;Timeout=30;Pooling=true;Minimum Pool Size=5;Maximum Pool Size=100"
			 providerName="Npgsql" />
	</connectionStrings>

	<appSettings>
		<add key="ApplicationName" value="ERP System" />
		<add key="Version" value="1.0.0" />
		<add key="DefaultLanguage" value="vi-VN" />
		<add key="ExportPath" value="C:\ERP_Exports\" />
		<add key="BackupPath" value="C:\ERP_Backups\" />
		<add key="LogPath" value="C:\ERP_Logs\" />
		<add key="MaxLoginAttempts" value="5" />
		<add key="SessionTimeout" value="30" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>