Truct/ServerService/.vs/
Truct/Main01/Main01/
Truct/Main/
Truct/FAP2501/PlastMB/PlastMB.Application/obj/
Truct/FAP2501/PlastMB/PlastMB.Infrastructure/obj/
Truct/FAP2501/PlastMB/PlastMB.Utils/bin/
Truct/FAP2501/PlastMB/PlastMB.Utils/obj/
Truct/FAP2501/PlastMB/PlastMB.WinForm/.vs/
Truct/FAP2501/PlastMB/PlastMB.WinForm/bin/
Truct/FAP2501/PlastMB/PlastMB.WinForm/obj/
Truct/FAP2501/PlastMB/PlastMB.WorkerService/bin/
Truct/FAP2501/PlastMB/PlastMB.WorkerService/obj/
Truct/FAP2501/PlastMB/PlastMB/bin/
Truct/FAP2501/PlastMB/PlastMB/obj/
Truct/FAP2501/PlastMB/PlastMBWorkerService/obj/
Truct/FAP2501/PlastMB/PlastMBWorkerService/bin/
Truct/FAP2501/PlastMB/Worker.Application/obj/
Truct/FAP2501/PlastMB/PlastMB.Application/bin/
Truct/FAP2501/PlastMB/PlastMB.Domain/bin/
Truct/FAP2501/PlastMB/PlastMB.Domain/obj/
Truct/FAP2501/PlastMB/PlastMB.Infrastructure/bin/
Truct/FAP2501/PlastMB/Worker.Application/bin/
Truct/FAP2501/Setup/Output/
Truct/FAP2501/PlastMB/.vs/
Truct/Web/.vs/
Truct/Web/Application/bin/
Truct/Web/Application/obj/
Truct/Web/Core/bin/
Truct/Web/Core/obj/
Truct/Web/Infrastructure/obj/
Truct/Web/WebAPI/bin/
Truct/Web/WebAPI/obj/
Truct/Web/Infrastructure/bin/
Truct/ServerService/Astemo.Application/bin/
Truct/ServerService/Astemo.Application/obj/
Truct/ServerService/Astemo.Domain/bin/
Truct/ServerService/Astemo.Domain/obj/Debug/net6.0/Astemo.Domain.AssemblyInfo.cs
Truct/ServerService/Astemo.Domain/obj/
Truct/ServerService/Astemo.Infrastructure/obj/
Truct/ServerService/Astemo.Utils/obj/
Truct/ServerService/Astemo.WorkerService/obj/
Truct/ServerService/Astemo/bin/
Truct/ServerService/Astemo/obj/
Truct/ServerService/Astemo.Utils/bin/
Truct/ServerService/Astemo.WorkerService/bin/
Truct/ServerService/Worker.Application/obj/
Truct/ServerService/Worker.Application/bin/
Truct/ServerService/Core.Domain/bin/
Truct/ServerService/Core.Domain/obj/
Truct/ServerService/Core.Infrastructure/bin/
Truct/ServerService/Core.Infrastructure/obj/
Truct/ServerService/Core.Utils/obj/
Truct/ServerService/Core.WorkerService/bin/
Truct/ServerService/Core.WorkerService/obj/
Truct/ServerService/Core/bin/
Truct/ServerService/Core/obj/
Truct/ServerService/Core.Application/obj/
Truct/ServerService/Core.Application/bin/
Truct/BlazorChat/BlazorChat/Client/obj/
Truct/BlazorChat/BlazorChat/Server/obj/
Truct/BlazorChat/BlazorChat/Shared/obj/
Truct/BlazorChat/.vs/
Truct/CoreMVC/CoreMVC/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Truct/CoreMVC/CoreMVC/bin/
Truct/CoreMVC/CoreMVC/obj/
Truct/IOT/PuduIOT/bin/
Truct/IOT/PuduIOT/obj/
