/User/User/bin/
/User/.vs/
/Truct/Main/Main/bin/
/Truct/Main/Main/obj/
/Truct/Main/.vs/
/Truct/Main01/.vs/
/Truct/Main01/Main01/bin/
/Truct/Main01/Main01/obj/
/Truct/ChartRealtime/ChartReatime/bin/
/Truct/QLKho/QLKho/bin/
/Truct/QLKho/QLKho/obj/