<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Main/Employee.css" rel="stylesheet" />
    <link href="D:\TungLV\Project\NoMango\NoMango\NoMango\Css\Page\Employee.csss" rel="stylesheet" />
</head>
<body>

    <!-- Menu -->
    <div class="menu">
        <!-- Logo -->
        <div id="logo">
            <div class="iconbar"></div>
            <div class="logo-text"></div>
        </div>

        <!-- Menu Item -->
        <div id="menu-content">
            <div class="menu-item">
                <div class="menu-item-icon icon-board"></div>
                <div class="menu-item-text"><a href="Employee.html">Nhân viên</a></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon icon-report"></div>
                <div class="menu-item-text"><a href="Custumer.html">Khách hàng</a></div>
            </div>
        </div>
    </div>
    <div></div>

    <div class="content">
        <div class="content-header"></div>
        <div class="content-body">
            <div class="body-title">Danh mục nhân viên</div>
            <div class="grid-content">
                <div class="toolbar">
                    <button id="btnAdd"><i class="icon icon-add"></i>Thêm</button>
                    <button id="btnEdit"><i class="icon icon-edit"></i>Sửa</button>
                    <button id="btnDelete"><i class="icon icon-delete"></i>Xóa</button>
                </div>
                <div class="grid">
                    <table border="1" cellpading="0">
                        <thead>
                            <tr>
                                <th>Mã nhân viên</th>
                                <th>Tên nhân viên</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Công ty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>NV0001</td>
                                <td>Lê Văn Tùng</td>
                                <td>097812712</td>
                                <td>tunglv@gmail.com</td>
                                <td>Hà Nội</td>
                                <td>Robotcom FA</td>
                            </tr>
                            <tr>
                                <td>NV0001</td>
                                <td>Lê Văn Tùng</td>
                                <td>097812712</td>
                                <td>tunglv@gmail.com</td>
                                <td>Hà Nội</td>
                                <td>Robotcom FA</td>

                            </tr>
                            <tr>
                                <td>NV0001</td>
                                <td>Lê Văn Tùng</td>
                                <td>097812712</td>
                                <td>tunglv@gmail.com</td>
                                <td>Hà Nội</td>
                                <td>Robotcom FA</td>
                            </tr>   
                        </tbody>
                    </table>
                </div>
                <div class="paging"></div>
            </div>
        </div>
    </div>
    <!--Dialog CHi tiet thong so nhan vien-->
    <div class="dialog-model">
        <div class="dialog">
            <div class="dialog-titte">
                <div class="title-text">
                    Thông tin nhân viên
                </div>
                <div class="dialog-button-close">

                </div>
            </div>
            <div class="dialog-body">
                <div class="row">
                    <label>Mã nhân viên(*)</label>
                    <input id="txtMa_nv" type="text" />
                </div>
                <div class="row">
                    <label>Tên nhân viên(*)</label>
                    <input id="txtTen_nv" type="text" />
                </div>
                <div class="row">
                    <label>Email</label>
                    <input id="txtEmail" type="email" />
                </div>
                <div class="row">
                    <label>Số điện thoại</label>
                    <input id="txtMobile" type="number" />
                </div>
                <div class="row">
                    <label>Công Ty</label>
                    <input id="txtCongTy" type="text" />
                </div>
            </div>

            <div class="dialog-footer">
                <button id="btnSave">Save</button>
                <button id="btncancel">Cancel</button>
            </div>
        </div>
    </div>



    <script src="D:\TungLV\Project\NoMango\NoMango\NoMango\Js\Common\jquery-3.7.1.js"></script>
    <script src="D:\TungLV\Project\NoMango\NoMango\NoMango\Js\Employee.js"></script>
</body>
</html>